body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@import url("https://fonts.googleapis.com/css2?family=Mukta&display=swap");

h2 {
  font-size: 45px;
  font-family: "Mukta", sans-serif;
}

h5 {
  font-size: 20px;
  margin-top: 0.5rem;
  margin-bottom: 0rem;
}

.routine-activities-count {
  margin-bottom: 1rem;
}

.activities-name {
  font-size: 30px;
}

.single-routine-card,
.single-activity-card, .my-routines-routine-card {
  width: 60%;
  font-family: "Mukta", sans-serif;
  margin: auto;
  margin-bottom: 5rem;
}

.single-activity-card {
  margin-bottom: 0rem;
}

.single-routine,
.activities,
.activities-wrapper,
.single-activity,
.routines,
.routine-activities,
.my-routines {
  text-align: center;
}

.routine-activities {
  line-height: 1rem;
}

#routines-name,
#activities-name, #my-routines-routine-name {
  font-size: 20px;
}

.add-a-routine-card {
  margin-bottom: 2rem;
}

#routine-activities-title {
  font-size: 25px;
  font-weight: 600;
}

.activities {
  font-size: 15px;
  font-weight: 600;
  font-family: "Mukta", sans-serif;
}

.single-activity-card {
  width: 60%;
  font-family: "Mukta", sans-serif;
  margin: auto;
  margin-bottom: 5rem;
  font-family: "Mukta", sans-serif;
}

.login-form {
  display:flex;
  justify-content:center;
}

.Login-Register-title{
  display:flex;
  justify-content:center;
  font-family: "Mukta", sans-serif;

}

.login-register-text{
  display:flex;
  justify-content:center;
  font-family: "Mukta", sans-serif;
}

.Username-box, .Password-box{
  display:block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;


}

.login-register-button{
  display:block;
  margin-left: auto;
  margin-right: auto;
}

.Welcome-title{
  display:flex;
  justify-content:center;
  font-family: "Mukta", sans-serif;
}

.my-routines-link{
  display:flex;
  justify-content:center;
  font-family: "Mukta", sans-serif;
  font-size: 25px;
  font-weight: 600;
}