body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h2 {
  font-size: 45px;
}

h5 {
  font-size: 20px;
  margin-top: 0.5rem;
  margin-bottom: 0rem;
}

.routine-activities-count {
  margin-bottom: 1rem;
}

.activities-name {
  font-size: 35px;
}

.routines-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.single-routine-card{
    width: 28rem;
}